.container {
    position: fixed;
    z-index: 20;
    height: 100px;
    display: flex;
    width: 82%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.logout {
    padding: 10px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.open {
    width: 30px;
    height: auto;
    display: none;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.line{
    width: 100%;
    height: 3px;
    background-color: gray;
}

.sidebar {
    position: absolute;
    top: 80px;
    right: 0;
    background-color: gray;
    width: 150px;
}

.sideLinks {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link {
    text-align: center;
    padding: 15px 20px;
}

.link:hover {
    color: #53c28b;
}

@media (max-width:1080px) {
    .open {
        display: flex; 
    }

    .links {
        display: none;
    }

}