.container {
    display: flex;
    gap: 100px;
    margin-top: 100px;
}

.posts {
    flex: 1;
}

.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 50px 0px;
}

.ImageContainer {
    position: relative;
    width: 200px;
    height: 100px;
}

.postTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.img {
    object-fit: cover;
}

.btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.delete_btn, .update_btn {
    border: none;
    background-color: rgb(250, 48, 48);
    padding: 10px;
    border-radius: 3px;
}

.update_btn {
    background-color: rgb(109, 109, 240);
}

.delete {
    cursor: pointer;
    color: white;
    font-size: 28px;
}

.new {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input, .textarea {
    padding: 10px;
    border: 2px solid #bbb;
    background-color: transparent;
    font-size: 20px;
    border-radius: 3px;
    color: #bbb;
    font-weight: bold;
}

.button {
    border: none;
    cursor: pointer;
    padding: 20px;
    border-radius: 5px;
    background-color: #53c28b;
    color: white;
}

@media (max-width:900px) {
    .container {
        gap: 50px;
        flex-direction: column-reverse;
    }
    
    .posts {
        flex: none;
    }

    .postTitle {
        max-width: 130px;
    }
}

@media (max-width:590px) {

    .post {
        flex-direction: column;
        gap: 20px;
    }
    
    .ImageContainer {
        width: 300px;
        height: 150px;
    }
    
    .postTitle {
        max-width: 280px;
    }
}

