.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hero {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 100px;
}

.heroImgConatiner {
  width: 100%;
  height: 100%;
}

.heroImg {
  object-fit: cover;
}

.heroContent {
  position: absolute;
  top: 50%;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.contentTitle {
  font-size: 50px;
}

.contentDesc {
  font-size: 20px;
  font-weight: 800;
}

.postTitle {
  text-align: center;
  font-size: 60px;
}

.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
  }
  
  .image{
    object-fit: cover;
  }
  
  .content {
  }
  
  .title{
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .desc{
    font-size: 18px;
    color: #999;
    line-height: 1.4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

@media (max-width:900px) {
    .container {
      flex-direction: column;
    }

    .contentTitle {
      font-size: 40px;
    }
    
    .contentDesc {
      font-size: 18px;
      font-weight: 800;
    }

    .postTitle {
      font-size: 40px;
    }

    .content {
      text-align: center;
    }

    .desc{
      font-size: 16px;
    }
}